* {
margin: 0;
padding: 0;
}


#main {
display: center;
}


#title {
text-align: center;
}

#img-div {

}

#image {

}

#img-caption {

}

#tribute-info {
margin: auto;
width: 80%;
word-spacing: 0.2em;
text-align: center;
}

#tribute-link {
text-decoration: black;
}
a:hover {
  color: blue;
}