* {
margin: 0;
background-color: #f4f4f4;
color: #555;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6em;
}


#main {
display: center;
}


#title {
text-align: center;
}

#img-div {

}

#image {

}

#img-caption {

}

#tribute-info {
margin: auto;
width: 80%;
word-spacing: 0.2em;
text-align: center;
}

#tribute-link {

}
a:hover {
  color: rgb(31, 76, 197);
}
