* {
margin: 0;
background-color: #edf6fa;
color: #555;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6em;
}


#main {
display: center;
}


#title {
text-align: center;
margin-bottom: 1em;
}



#image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#img-caption {
text-align: center;
font-style: oblique;
}

#tribute-info {
margin: auto;
width: 40%;
word-spacing: 0.1em;
text-align: center;

}

